.about{
color: #fff;
padding: 5rem;
}
.about .container{
    text-align: center;
}

.about .container h2{
    font-size: 50px; 
}

.about .container hr{
    width: 180px;
    margin: auto;
    border: 1px solid #F9A826;

}

.about .container .content{
    margin-top: 50px;
    display: flex;
    vertical-align: middle;
}

.about .container .content img{
    width: 400px;
    float: right;
}

.about .container .content .text p{
justify-content: start;
font-size: 20px;
}

.about .container .content .text strong{
    color: #bbb;
}

.about .container .content .text .icons{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.about .container .content .text .icons .containerIcon{
    padding: 11px 15px;
    margin: 0 20px;
    border-radius: 50%;
    transition: all 0.3s;
    background-color: #F9A826;
    color: black;
    font-size: 20px;
}

.about .container .content .text .icons .containerIcon:hover{
    background-color: transparent;
    color: #fff;
    transform: scale(2);
}



