.info{
    width: 100%;
    padding: 5px 0;
    background-color: #000;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
} 

.info .container{
    display: flex;
    justify-content: flex-end;
    margin-right: 4rem;
}

.info .container .container{
    padding: 0.7rem;
}

.info .container a{
    display: inline-block;
    text-decoration: none;
    color: #fff; 
    font-size: 18px;
    font-weight: 700;
}


.info .container .container .icon{
    margin-right: 0.6rem;
    color: #F9A826;
}

